{% extends 'base.html.twig' %}

{% block title %}Ajouter une suggestion{% endblock %}

{% block body %}
    <h1>Ajouter une suggestion</h1>
    {{ include('suggestion/_form.html.twig') }}
{% endblock %}
