{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block sidebar %}
    {% include "admin/sidebar.html.twig" with { active: 'users' } %}
{% endblock %}

{% block content %}
<div class="example-wrapper">
    <pre>
        {{ dump(users) }}
    </pre>
</div>
{% endblock %}
