@media (min-width: 576px) {
    .sidebar{ 
        min-height: calc(100vh - 56px);
    }
}

.results {
    height: 50px;
}

.form-control {
    height: initial;
    padding: .5rem 1rem;
}

.cursor-progress {
    cursor: progress;
}