{% extends 'base.html.twig' %}

{% block title %}Edit History{% endblock %}

{% block body %}
    <h1>Edit History</h1>

    {{ include('history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('history_index') }}">back to list</a>

    {{ include('history/_delete_form.html.twig') }}
{% endblock %}
